body,div,canvas{ margin: 0; padding: 0; }
.app{ display: flex; flex-wrap: wrap; width: 900px; margin: 0 auto; }
.pokemon{ display: flex; width: 150px; height: 150px; justify-content: center; align-items: center; position: relative; }
.pokemon-info{position: absolute; left: 0; bottom: 0; right: 0; padding: 4px; font-size: 12px; background: rgba(0,0,0,.2); color: #fff; width: 100%; box-sizing: border-box; }
.pokemon canvas{ position: relative; z-indes: 2; }
.pokemon-1{ background: rgba(57,148,148,255)}
.pokemon-2{ background: rgba(32,148,131,255)}
.pokemon-3{ background: rgba(32,180,156,255)}
.pokemon-4{ background: rgba(255,148,65,255)}
.pokemon-5{ background: rgba(205,57,57,255)}
.pokemon-6{ background: rgba(238,131,41,255)}
.pokemon-7{ background: rgba(90,156,164,255)}
.pokemon-8{ background: rgba(139,172,246,255)}
.pokemon-10{ background: rgba(49,172,65,255)}
.pokemon-9{ background: rgba(90,139,205,255)}
.pokemon-11{ background: rgba(106,139,90,255)}
.pokemon-12{ background: rgba(238,238,255,255)}
.pokemon-14{ background: rgba(205,156,16,255)}
.pokemon-13{ background: rgba(205,115,16,255)}
.pokemon-15{ background: rgba(255,255,255,255)}
.pokemon-17{ background: rgba(255,230,139,255)}
.pokemon-18{ background: rgba(230,180,98,255)}
.pokemon-16{ background: rgba(164,98,90,255)}
.pokemon-19{ background: rgba(180,115,189,255)}
.pokemon-20{ background: rgba(164,115,41,255)}
.pokemon-21{ background: rgba(238,82,74,255)}
.pokemon-22{ background: rgba(180,115,32,255)}
.pokemon-23{ background: rgba(205,98,180,255)}
.pokemon-24{ background: rgba(164,131,197,255)}
.pokemon-25{ background: rgba(246,230,82,255)}
.pokemon-26{ background: rgba(246,172,41,255)}
.pokemon-28{ background: rgba(139,98,24,255)}
.pokemon-27{ background: rgba(205,180,0,255)}
.pokemon-29{ background: rgba(213,213,255,255)}
.pokemon-30{ background: rgba(139,197,205,255)}
.pokemon-31{ background: rgba(98,139,172,255)}
.pokemon-32{ background: rgba(189,98,197,255)}
.pokemon-33{ background: rgba(148,90,180,255)}
.pokemon-34{ background: rgba(164,82,148,255)}
.pokemon-36{ background: rgba(255,197,180,255)}
.pokemon-37{ background: rgba(230,148,106,255)}
.pokemon-35{ background: rgba(255,213,189,255)}
.pokemon-39{ background: rgba(255,172,164,255)}
.pokemon-40{ background: rgba(255,255,255,255)}
.pokemon-41{ background: rgba(139,180,238,255)}
.pokemon-42{ background: rgba(172,82,172,255)}
.pokemon-43{ background: rgba(139,172,49,255)}
.pokemon-38{ background: rgba(230,197,82,255)}
.pokemon-44{ background: rgba(74,106,123,255)}
.pokemon-45{ background: rgba(222,74,90,255)}
.pokemon-46{ background: rgba(255,172,98,255)}
.pokemon-47{ background: rgba(238,49,49,255)}
.pokemon-48{ background: rgba(139,106,164,255)}
.pokemon-49{ background: rgba(246,222,255,255)}
.pokemon-51{ background: rgba(197,115,65,255)}
.pokemon-52{ background: rgba(255,230,131,255)}
.pokemon-53{ background: rgba(222,180,106,255)}
.pokemon-54{ background: rgba(255,213,74,255)}
.pokemon-55{ background: rgba(139,172,213,255)}
.pokemon-50{ background: rgba(180,172,115,255)}
.pokemon-57{ background: rgba(230,189,156,255)}
.pokemon-58{ background: rgba(255,246,164,255)}
.pokemon-61{ background: rgba(255,255,255,255)}
.pokemon-60{ background: rgba(82,131,197,255)}
.pokemon-62{ background: rgba(57,90,131,255)}
.pokemon-63{ background: rgba(255,230,41,255)}
.pokemon-56{ background: rgba(213,172,156,255)}
.pokemon-65{ background: rgba(255,238,24,255)}
.pokemon-64{ background: rgba(213,189,8,255)}
.pokemon-59{ background: rgba(213,164,139,255)}
.pokemon-67{ background: rgba(189,156,230,255)}
.pokemon-70{ background: rgba(106,197,82,255)}
.pokemon-66{ background: rgba(148,189,189,255)}
.pokemon-69{ background: rgba(90,57,0,255)}
.pokemon-71{ background: rgba(74,164,123,255)}
.pokemon-72{ background: rgba(106,180,230,255)}
.pokemon-73{ background: rgba(106,180,230,255)}
.pokemon-74{ background: rgba(156,148,131,255)}
.pokemon-76{ background: rgba(156,139,82,255)}
.pokemon-77{ background: rgba(230,90,41,255)}
.pokemon-75{ background: rgba(180,180,156,255)}
.pokemon-80{ background: rgba(230,106,123,255)}
.pokemon-81{ background: rgba(139,180,164,255)}
.pokemon-82{ background: rgba(57,49,49,255)}
.pokemon-78{ background: rgba(255,156,24,255)}
.pokemon-84{ background: rgba(148,106,90,255)}
.pokemon-85{ background: rgba(164,123,90,255)}
.pokemon-83{ background: rgba(230,230,164,255)}
.pokemon-86{ background: rgba(213,205,238,255)}
.pokemon-79{ background: rgba(222,98,123,255)}
.pokemon-88{ background: rgba(148,74,156,255)}
.pokemon-87{ background: rgba(230,230,246,255)}
.pokemon-90{ background: rgba(156,139,197,255)}
.pokemon-91{ background: rgba(123,82,131,255)}
.pokemon-92{ background: rgba(213,172,205,255)}
.pokemon-93{ background: rgba(131,90,106,255)}
.pokemon-95{ background: rgba(131,123,123,255)}
.pokemon-94{ background: rgba(148,115,180,255)}
.pokemon-89{ background: rgba(189,123,189,255)}
.pokemon-96{ background: rgba(246,222,0,255)}
.pokemon-98{ background: rgba(222,82,74,255)}
.pokemon-99{ background: rgba(197,106,90,255)}
.pokemon-100{ background: rgba(255,82,32,255)}
.pokemon-101{ background: rgba(238,238,238,255)}
.pokemon-102{ background: rgba(255,213,172,255)}
.pokemon-103{ background: rgba(115,172,49,255)}
.pokemon-97{ background: rgba(246,222,0,255)}
.pokemon-105{ background: rgba(148,106,82,255)}
.pokemon-106{ background: rgba(205,164,131,255)}
.pokemon-108{ background: rgba(238,115,106,255)}
.pokemon-107{ background: rgba(205,180,123,255)}
.pokemon-109{ background: rgba(238,213,106,255)}
.pokemon-110{ background: rgba(189,139,205,255)}
.pokemon-111{ background: rgba(131,131,172,255)}
.pokemon-112{ background: rgba(139,139,148,255)}
.pokemon-113{ background: rgba(255,213,213,255)}
.pokemon-114{ background: rgba(65,123,148,255)}
.pokemon-104{ background: rgba(148,106,90,255)}
.pokemon-116{ background: rgba(106,148,180,255)}
.pokemon-115{ background: rgba(156,123,115,255)}
.pokemon-118{ background: rgba(255,255,255,255)}
.pokemon-119{ background: rgba(246,246,255,255)}
.pokemon-120{ background: rgba(156,106,57,255)}
.pokemon-122{ background: rgba(16,74,115,255)}
.pokemon-121{ background: rgba(90,82,156,255)}
.pokemon-123{ background: rgba(139,205,115,255)}
.pokemon-124{ background: rgba(246,49,90,255)}
.pokemon-126{ background: rgba(255,74,49,255)}
.pokemon-127{ background: rgba(197,172,139,255)}
.pokemon-128{ background: rgba(222,164,74,255)}
.pokemon-125{ background: rgba(197,164,16,255)}
.pokemon-131{ background: rgba(57,123,164,255)}
.pokemon-132{ background: rgba(197,123,230,255)}
.pokemon-133{ background: rgba(164,98,74,255)}
.pokemon-134{ background: rgba(90,197,230,255)}
.pokemon-135{ background: rgba(255,222,82,255)}
.pokemon-136{ background: rgba(255,238,164,255)}
.pokemon-137{ background: rgba(8,131,164,255)}
.pokemon-129{ background: rgba(246,98,24,255)}
.pokemon-138{ background: rgba(156,131,106,255)}
.pokemon-68{ background: rgba(131,139,148,255)}
.pokemon-140{ background: rgba(197,131,41,255)}
.pokemon-139{ background: rgba(57,156,205,255)}
.pokemon-130{ background: rgba(32,139,172,255)}
.pokemon-142{ background: rgba(148,131,164,255)}
.pokemon-143{ background: rgba(246,230,189,255)}
.pokemon-144{ background: rgba(106,172,246,255)}
.pokemon-141{ background: rgba(189,139,65,255)}
.pokemon-146{ background: rgba(238,98,57,255)}
.pokemon-147{ background: rgba(255,255,255,255)}
.pokemon-148{ background: rgba(90,139,238,255)}
.pokemon-149{ background: rgba(222,115,57,255)}
.pokemon-150{ background: rgba(222,213,230,255)}
.pokemon-151{ background: rgba(255,180,213,255)}
.pokemon-145{ background: rgba(213,172,8,255)}
.pokemon-117{ background: rgba(106,131,156,255)}