body,div,canvas{ margin: 0; padding: 0; }
.app{ display: flex; flex-wrap: wrap; width: 1080px; margin: 0 auto; }
.pokemon{ display: flex; width: 180px; height: 150px; justify-content: center; align-items: center; position: relative; }
.pokemon-info{position: absolute; left: 0; bottom: 0; right: 0; padding: 4px; font-size: 12px; background: rgba(0,0,0,.2); color: #fff; width: 100%; box-sizing: border-box; }
.pokemon canvas{ position: relative; z-index: 2; }
.pokemon-3{ background: rgba(32,180,156,255)}
.pokemon-2{ background: rgba(32,148,131,255)}
.pokemon-5{ background: rgba(205,57,57,255)}
.pokemon-4{ background: rgba(255,148,65,255)}
.pokemon-1{ background: rgba(57,148,148,255)}
.pokemon-9{ background: rgba(90,139,205,255)}
.pokemon-6{ background: rgba(238,131,41,255)}
.pokemon-7{ background: rgba(90,156,164,255)}
.pokemon-8{ background: rgba(139,172,246,255)}
.pokemon-10{ background: rgba(49,172,65,255)}
.pokemon-13{ background: rgba(205,115,16,255)}
.pokemon-15{ background: rgba(255,255,255,255)}
.pokemon-12{ background: rgba(238,238,255,255)}
.pokemon-14{ background: rgba(205,156,16,255)}
.pokemon-16{ background: rgba(164,98,90,255)}
.pokemon-17{ background: rgba(255,230,139,255)}
.pokemon-18{ background: rgba(230,180,98,255)}
.pokemon-19{ background: rgba(180,115,189,255)}
.pokemon-20{ background: rgba(164,115,41,255)}
.pokemon-21{ background: rgba(238,82,74,255)}
.pokemon-22{ background: rgba(180,115,32,255)}
.pokemon-23{ background: rgba(205,98,180,255)}
.pokemon-24{ background: rgba(164,131,197,255)}
.pokemon-25{ background: rgba(246,230,82,255)}
.pokemon-27{ background: rgba(205,180,0,255)}
.pokemon-26{ background: rgba(246,172,41,255)}
.pokemon-28{ background: rgba(139,98,24,255)}
.pokemon-30{ background: rgba(139,197,205,255)}
.pokemon-29{ background: rgba(213,213,255,255)}
.pokemon-31{ background: rgba(98,139,172,255)}
.pokemon-32{ background: rgba(189,98,197,255)}
.pokemon-33{ background: rgba(148,90,180,255)}
.pokemon-34{ background: rgba(164,82,148,255)}
.pokemon-35{ background: rgba(255,213,189,255)}
.pokemon-36{ background: rgba(255,197,180,255)}
.pokemon-37{ background: rgba(230,148,106,255)}
.pokemon-11{ background: rgba(106,139,90,255)}
.pokemon-39{ background: rgba(255,172,164,255)}
.pokemon-40{ background: rgba(255,255,255,255)}
.pokemon-41{ background: rgba(139,180,238,255)}
.pokemon-42{ background: rgba(172,82,172,255)}
.pokemon-43{ background: rgba(139,172,49,255)}
.pokemon-44{ background: rgba(74,106,123,255)}
.pokemon-46{ background: rgba(255,172,98,255)}
.pokemon-47{ background: rgba(238,49,49,255)}
.pokemon-50{ background: rgba(180,172,115,255)}
.pokemon-49{ background: rgba(246,222,255,255)}
.pokemon-51{ background: rgba(197,115,65,255)}
.pokemon-52{ background: rgba(255,230,131,255)}
.pokemon-48{ background: rgba(139,106,164,255)}
.pokemon-54{ background: rgba(255,213,74,255)}
.pokemon-38{ background: rgba(230,197,82,255)}
.pokemon-56{ background: rgba(213,172,156,255)}
.pokemon-53{ background: rgba(222,180,106,255)}
.pokemon-55{ background: rgba(139,172,213,255)}
.pokemon-57{ background: rgba(230,189,156,255)}
.pokemon-58{ background: rgba(255,246,164,255)}
.pokemon-59{ background: rgba(213,164,139,255)}
.pokemon-61{ background: rgba(255,255,255,255)}
.pokemon-60{ background: rgba(82,131,197,255)}
.pokemon-63{ background: rgba(255,230,41,255)}
.pokemon-62{ background: rgba(57,90,131,255)}
.pokemon-64{ background: rgba(213,189,8,255)}
.pokemon-65{ background: rgba(255,238,24,255)}
.pokemon-66{ background: rgba(148,189,189,255)}
.pokemon-67{ background: rgba(189,156,230,255)}
.pokemon-68{ background: rgba(131,139,148,255)}
.pokemon-69{ background: rgba(90,57,0,255)}
.pokemon-70{ background: rgba(106,197,82,255)}
.pokemon-71{ background: rgba(74,164,123,255)}
.pokemon-72{ background: rgba(106,180,230,255)}
.pokemon-73{ background: rgba(106,180,230,255)}
.pokemon-74{ background: rgba(156,148,131,255)}
.pokemon-75{ background: rgba(180,180,156,255)}
.pokemon-76{ background: rgba(156,139,82,255)}
.pokemon-79{ background: rgba(222,98,123,255)}
.pokemon-78{ background: rgba(255,156,24,255)}
.pokemon-80{ background: rgba(230,106,123,255)}
.pokemon-81{ background: rgba(139,180,164,255)}
.pokemon-83{ background: rgba(230,230,164,255)}
.pokemon-77{ background: rgba(230,90,41,255)}
.pokemon-82{ background: rgba(57,49,49,255)}
.pokemon-84{ background: rgba(148,106,90,255)}
.pokemon-85{ background: rgba(164,123,90,255)}
.pokemon-86{ background: rgba(213,205,238,255)}
.pokemon-87{ background: rgba(230,230,246,255)}
.pokemon-88{ background: rgba(148,74,156,255)}
.pokemon-89{ background: rgba(189,123,189,255)}
.pokemon-90{ background: rgba(156,139,197,255)}
.pokemon-91{ background: rgba(123,82,131,255)}
.pokemon-92{ background: rgba(213,172,205,255)}
.pokemon-93{ background: rgba(131,90,106,255)}
.pokemon-94{ background: rgba(148,115,180,255)}
.pokemon-95{ background: rgba(131,123,123,255)}
.pokemon-96{ background: rgba(246,222,0,255)}
.pokemon-97{ background: rgba(246,222,0,255)}
.pokemon-98{ background: rgba(222,82,74,255)}
.pokemon-99{ background: rgba(197,106,90,255)}
.pokemon-100{ background: rgba(255,82,32,255)}
.pokemon-101{ background: rgba(238,238,238,255)}
.pokemon-102{ background: rgba(255,213,172,255)}
.pokemon-104{ background: rgba(148,106,90,255)}
.pokemon-103{ background: rgba(115,172,49,255)}
.pokemon-105{ background: rgba(148,106,82,255)}
.pokemon-106{ background: rgba(205,164,131,255)}
.pokemon-108{ background: rgba(238,115,106,255)}
.pokemon-107{ background: rgba(205,180,123,255)}
.pokemon-109{ background: rgba(238,213,106,255)}
.pokemon-111{ background: rgba(131,131,172,255)}
.pokemon-110{ background: rgba(189,139,205,255)}
.pokemon-112{ background: rgba(139,139,148,255)}
.pokemon-113{ background: rgba(255,213,213,255)}
.pokemon-114{ background: rgba(65,123,148,255)}
.pokemon-115{ background: rgba(156,123,115,255)}
.pokemon-116{ background: rgba(106,148,180,255)}
.pokemon-117{ background: rgba(106,131,156,255)}
.pokemon-119{ background: rgba(246,246,255,255)}
.pokemon-118{ background: rgba(255,255,255,255)}
.pokemon-45{ background: rgba(222,74,90,255)}
.pokemon-121{ background: rgba(90,82,156,255)}
.pokemon-120{ background: rgba(156,106,57,255)}
.pokemon-122{ background: rgba(16,74,115,255)}
.pokemon-124{ background: rgba(246,49,90,255)}
.pokemon-123{ background: rgba(139,205,115,255)}
.pokemon-125{ background: rgba(197,164,16,255)}
.pokemon-127{ background: rgba(197,172,139,255)}
.pokemon-126{ background: rgba(255,74,49,255)}
.pokemon-128{ background: rgba(222,164,74,255)}
.pokemon-129{ background: rgba(246,98,24,255)}
.pokemon-130{ background: rgba(32,139,172,255)}
.pokemon-132{ background: rgba(197,123,230,255)}
.pokemon-133{ background: rgba(164,98,74,255)}
.pokemon-131{ background: rgba(57,123,164,255)}
.pokemon-135{ background: rgba(255,222,82,255)}
.pokemon-134{ background: rgba(90,197,230,255)}
.pokemon-136{ background: rgba(255,238,164,255)}
.pokemon-137{ background: rgba(8,131,164,255)}
.pokemon-138{ background: rgba(156,131,106,255)}
.pokemon-139{ background: rgba(57,156,205,255)}
.pokemon-140{ background: rgba(197,131,41,255)}
.pokemon-141{ background: rgba(189,139,65,255)}
.pokemon-144{ background: rgba(106,172,246,255)}
.pokemon-143{ background: rgba(246,230,189,255)}
.pokemon-142{ background: rgba(148,131,164,255)}
.pokemon-146{ background: rgba(238,98,57,255)}
.pokemon-147{ background: rgba(255,255,255,255)}
.pokemon-149{ background: rgba(222,115,57,255)}
.pokemon-148{ background: rgba(90,139,238,255)}
.pokemon-151{ background: rgba(255,180,213,255)}
.pokemon-145{ background: rgba(213,172,8,255)}
.pokemon-154{ background: rgba(156,230,82,255)}
.pokemon-150{ background: rgba(222,213,230,255)}
.pokemon-156{ background: rgba(255,90,0,255)}
.pokemon-153{ background: rgba(246,230,74,255)}
.pokemon-158{ background: rgba(106,180,230,255)}
.pokemon-159{ background: rgba(90,172,230,255)}
.pokemon-160{ background: rgba(90,180,246,255)}
.pokemon-152{ background: rgba(213,246,139,255)}
.pokemon-162{ background: rgba(255,238,148,255)}
.pokemon-161{ background: rgba(189,131,90,255)}
.pokemon-164{ background: rgba(123,90,74,255)}
.pokemon-163{ background: rgba(189,139,65,255)}
.pokemon-165{ background: rgba(255,230,156,255)}
.pokemon-167{ background: rgba(139,230,49,255)}
.pokemon-166{ background: rgba(255,74,65,255)}
.pokemon-168{ background: rgba(197,65,65,255)}
.pokemon-170{ background: rgba(255,205,82,255)}
.pokemon-169{ background: rgba(164,90,205,255)}
.pokemon-171{ background: rgba(98,148,230,255)}
.pokemon-173{ background: rgba(255,164,148,255)}
.pokemon-172{ background: rgba(246,230,82,255)}
.pokemon-174{ background: rgba(255,172,189,255)}
.pokemon-175{ background: rgba(246,213,164,255)}
.pokemon-177{ background: rgba(115,189,65,255)}
.pokemon-176{ background: rgba(255,255,255,255)}
.pokemon-179{ background: rgba(255,230,189,255)}
.pokemon-180{ background: rgba(255,164,164,255)}
.pokemon-181{ background: rgba(255,238,74,255)}
.pokemon-178{ background: rgba(255,255,255,255)}
.pokemon-183{ background: rgba(90,156,238,255)}
.pokemon-155{ background: rgba(222,0,0,255)}
.pokemon-184{ background: rgba(90,156,238,255)}
.pokemon-182{ background: rgba(213,32,0,255)}
.pokemon-185{ background: rgba(197,164,74,255)}
.pokemon-186{ background: rgba(139,205,24,255)}
.pokemon-187{ background: rgba(255,123,148,255)}
.pokemon-188{ background: rgba(98,213,49,255)}
.pokemon-190{ background: rgba(131,65,172,255)}
.pokemon-189{ background: rgba(115,156,255,255)}
.pokemon-191{ background: rgba(255,255,0,255)}
.pokemon-192{ background: rgba(238,205,8,255)}
.pokemon-194{ background: rgba(57,123,197,255)}
.pokemon-193{ background: rgba(230,255,255,255)}
.pokemon-195{ background: rgba(98,156,189,255)}
.pokemon-197{ background: rgba(65,65,82,255)}
.pokemon-196{ background: rgba(230,164,213,255)}
.pokemon-198{ background: rgba(49,65,98,255)}
.pokemon-199{ background: rgba(238,115,106,255)}
.pokemon-201{ background: rgba(115,115,115,255)}
.pokemon-200{ background: rgba(49,74,98,255)}
.pokemon-202{ background: rgba(49,148,238,255)}
.pokemon-203{ background: rgba(238,222,82,255)}
.pokemon-204{ background: rgba(41,74,123,255)}
.pokemon-205{ background: rgba(197,164,222,255)}
.pokemon-206{ background: rgba(246,230,123,255)}
.pokemon-207{ background: rgba(172,98,148,255)}
.pokemon-209{ background: rgba(255,172,180,255)}
.pokemon-210{ background: rgba(172,131,172,255)}
.pokemon-208{ background: rgba(74,98,139,255)}
.pokemon-211{ background: rgba(164,172,106,255)}
.pokemon-212{ background: rgba(164,41,41,255)}
.pokemon-213{ background: rgba(238,197,74,255)}
.pokemon-214{ background: rgba(106,148,197,255)}
.pokemon-215{ background: rgba(57,148,172,255)}
.pokemon-216{ background: rgba(180,98,32,255)}
.pokemon-220{ background: rgba(205,156,123,255)}
.pokemon-221{ background: rgba(172,131,90,255)}
.pokemon-218{ background: rgba(205,57,24,255)}
.pokemon-217{ background: rgba(148,82,32,255)}
.pokemon-157{ background: rgba(255,238,148,255)}
.pokemon-222{ background: rgba(255,164,197,255)}
.pokemon-223{ background: rgba(180,222,213,255)}
.pokemon-224{ background: rgba(164,49,16,255)}
.pokemon-225{ background: rgba(255,255,255,255)}
.pokemon-228{ background: rgba(41,41,49,255)}
.pokemon-227{ background: rgba(156,180,213,255)}
.pokemon-230{ background: rgba(98,156,205,255)}
.pokemon-219{ background: rgba(222,90,32,255)}
.pokemon-231{ background: rgba(172,213,238,255)}
.pokemon-229{ background: rgba(74,74,82,255)}
.pokemon-232{ background: rgba(74,82,82,255)}
.pokemon-233{ background: rgba(238,90,98,255)}
.pokemon-226{ background: rgba(172,156,197,255)}
.pokemon-235{ background: rgba(222,222,189,255)}
.pokemon-234{ background: rgba(230,180,90,255)}
.pokemon-236{ background: rgba(238,197,255,255)}
.pokemon-238{ background: rgba(255,230,82,255)}
.pokemon-239{ background: rgba(255,205,49,255)}
.pokemon-240{ background: rgba(213,82,57,255)}
.pokemon-241{ background: rgba(213,139,131,255)}
.pokemon-242{ background: rgba(255,172,197,255)}
.pokemon-247{ background: rgba(115,156,197,255)}
.pokemon-244{ background: rgba(205,164,98,255)}
.pokemon-248{ background: rgba(172,205,156,255)}
.pokemon-249{ background: rgba(213,230,246,255)}
.pokemon-246{ background: rgba(172,205,156,255)}
.pokemon-245{ background: rgba(123,189,255,255)}
.pokemon-237{ background: rgba(189,164,82,255)}
.pokemon-243{ background: rgba(255,205,65,255)}
.pokemon-250{ background: rgba(255,90,16,255)}
.pokemon-252{ background: rgba(172,222,106,255)}
.pokemon-251{ background: rgba(255,255,222,255)}
.pokemon-253{ background: rgba(98,172,74,255)}
.pokemon-255{ background: rgba(255,139,49,255)}
.pokemon-254{ background: rgba(131,205,106,255)}
.pokemon-256{ background: rgba(238,189,74,255)}
.pokemon-257{ background: rgba(189,65,65,255)}
.pokemon-261{ background: rgba(164,164,164,255)}
.pokemon-262{ background: rgba(49,49,49,255)}
.pokemon-258{ background: rgba(65,164,222,255)}
.pokemon-260{ background: rgba(82,74,82,255)}
.pokemon-259{ background: rgba(74,180,172,255)}
.pokemon-263{ background: rgba(148,123,106,255)}
.pokemon-265{ background: rgba(213,41,82,255)}
.pokemon-264{ background: rgba(222,205,189,255)}
.pokemon-267{ background: rgba(106,98,98,255)}
.pokemon-266{ background: rgba(238,238,230,255)}
.pokemon-270{ background: rgba(98,180,106,255)}
.pokemon-268{ background: rgba(238,213,238,255)}
.pokemon-269{ background: rgba(115,148,82,255)}
.pokemon-277{ background: rgba(41,65,98,255)}
.pokemon-271{ background: rgba(106,139,57,255)}
.pokemon-276{ background: rgba(49,74,123,255)}
.pokemon-278{ background: rgba(255,255,255,255)}
.pokemon-273{ background: rgba(123,115,106,255)}
.pokemon-279{ background: rgba(255,222,74,255)}
.pokemon-280{ background: rgba(115,189,115,255)}
.pokemon-281{ background: rgba(255,255,255,255)}
.pokemon-282{ background: rgba(238,238,255,255)}
.pokemon-285{ background: rgba(238,213,180,255)}
.pokemon-283{ background: rgba(131,197,230,255)}
.pokemon-286{ background: rgba(98,148,82,255)}
.pokemon-284{ background: rgba(197,205,230,255)}
.pokemon-287{ background: rgba(222,205,189,255)}
.pokemon-272{ background: rgba(156,197,98,255)}
.pokemon-289{ background: rgba(164,131,106,255)}
.pokemon-293{ background: rgba(238,172,230,255)}
.pokemon-288{ background: rgba(213,213,213,255)}
.pokemon-291{ background: rgba(255,255,255,255)}
.pokemon-294{ background: rgba(115,98,148,255)}
.pokemon-292{ background: rgba(180,148,90,255)}
.pokemon-296{ background: rgba(255,222,106,255)}
.pokemon-297{ background: rgba(180,106,82,255)}
.pokemon-295{ background: rgba(164,164,222,255)}
.pokemon-300{ background: rgba(213,90,123,255)}
.pokemon-298{ background: rgba(74,123,230,255)}
.pokemon-301{ background: rgba(164,115,197,255)}
.pokemon-299{ background: rgba(98,123,189,255)}
.pokemon-305{ background: rgba(197,205,213,255)}
.pokemon-302{ background: rgba(90,74,148,255)}
.pokemon-303{ background: rgba(115,115,115,255)}
.pokemon-304{ background: rgba(255,255,255,255)}
.pokemon-308{ background: rgba(230,115,139,255)}
.pokemon-306{ background: rgba(82,82,74,255)}
.pokemon-274{ background: rgba(148,115,98,255)}
.pokemon-309{ background: rgba(98,156,98,255)}
.pokemon-307{ background: rgba(230,222,222,255)}
.pokemon-311{ background: rgba(222,74,65,255)}
.pokemon-310{ background: rgba(197,172,90,255)}
.pokemon-275{ background: rgba(156,106,74,255)}
.pokemon-314{ background: rgba(57,57,57,255)}
.pokemon-313{ background: rgba(74,74,82,255)}
.pokemon-312{ background: rgba(255,238,180,255)}
.pokemon-315{ background: rgba(115,197,90,255)}
.pokemon-316{ background: rgba(164,222,148,255)}
.pokemon-317{ background: rgba(172,131,238,255)}
.pokemon-318{ background: rgba(238,189,41,255)}
.pokemon-319{ background: rgba(57,82,148,255)}
.pokemon-320{ background: rgba(74,131,180,255)}
.pokemon-321{ background: rgba(238,230,255,255)}
.pokemon-322{ background: rgba(222,180,74,255)}
.pokemon-323{ background: rgba(238,106,74,255)}
.pokemon-325{ background: rgba(164,164,172,255)}
.pokemon-326{ background: rgba(74,74,82,255)}
.pokemon-327{ background: rgba(230,213,164,255)}
.pokemon-328{ background: rgba(238,115,65,255)}
.pokemon-329{ background: rgba(106,197,106,255)}
.pokemon-290{ background: rgba(255,255,238,255)}
.pokemon-330{ background: rgba(180,222,115,255)}
.pokemon-331{ background: rgba(189,222,123,255)}
.pokemon-332{ background: rgba(164,213,115,255)}
.pokemon-333{ background: rgba(255,255,255,255)}
.pokemon-334{ background: rgba(205,205,230,255)}
.pokemon-335{ background: rgba(205,222,246,255)}
.pokemon-336{ background: rgba(57,65,82,255)}
.pokemon-339{ background: rgba(49,180,230,255)}
.pokemon-324{ background: rgba(189,172,164,255)}
.pokemon-337{ background: rgba(180,164,82,255)}
.pokemon-340{ background: rgba(57,74,156,255)}
.pokemon-338{ background: rgba(222,180,24,255)}
.pokemon-343{ background: rgba(197,197,98,255)}
.pokemon-344{ background: rgba(74,65,57,255)}
.pokemon-345{ background: rgba(131,57,90,255)}
.pokemon-342{ background: rgba(205,49,49,255)}
.pokemon-348{ background: rgba(57,65,82,255)}
.pokemon-347{ background: rgba(106,106,123,255)}
.pokemon-346{ background: rgba(123,197,115,255)}
.pokemon-349{ background: rgba(213,205,131,255)}
.pokemon-351{ background: rgba(230,222,222,255)}
.pokemon-350{ background: rgba(255,230,180,255)}
.pokemon-353{ background: rgba(98,90,139,255)}
.pokemon-356{ background: rgba(98,98,90,255)}
.pokemon-357{ background: rgba(57,139,74,255)}
.pokemon-358{ background: rgba(197,230,255,255)}
.pokemon-359{ background: rgba(180,180,213,255)}
.pokemon-361{ background: rgba(238,197,106,255)}
.pokemon-341{ background: rgba(230,82,8,255)}
.pokemon-362{ background: rgba(230,230,246,255)}
.pokemon-354{ background: rgba(90,82,98,255)}
.pokemon-365{ background: rgba(131,180,230,255)}
.pokemon-363{ background: rgba(246,230,189,255)}
.pokemon-364{ background: rgba(90,148,222,255)}
.pokemon-355{ background: rgba(74,74,65,255)}
.pokemon-366{ background: rgba(57,98,189,255)}
.pokemon-367{ background: rgba(74,156,189,255)}
.pokemon-368{ background: rgba(246,139,197,255)}
.pokemon-369{ background: rgba(205,180,148,255)}
.pokemon-352{ background: rgba(90,148,115,255)}
.pokemon-360{ background: rgba(106,189,222,255)}
.pokemon-370{ background: rgba(230,115,156,255)}
.pokemon-372{ background: rgba(213,213,213,255)}
.pokemon-373{ background: rgba(164,57,74,255)}
.pokemon-374{ background: rgba(74,106,164,255)}
.pokemon-376{ background: rgba(65,98,148,255)}
.pokemon-377{ background: rgba(148,139,115,255)}
.pokemon-375{ background: rgba(65,98,139,255)}
.pokemon-378{ background: rgba(106,180,213,255)}
.pokemon-379{ background: rgba(180,172,172,255)}
.pokemon-386{ background: rgba(189,106,106,255)}
.pokemon-381{ background: rgba(74,98,180,255)}
.pokemon-382{ background: rgba(57,98,180,255)}
.pokemon-383{ background: rgba(115,98,98,255)}
.pokemon-387{ background: rgba(189,205,131,255)}
.pokemon-380{ background: rgba(205,205,238,255)}
.pokemon-384{ background: rgba(74,131,115,255)}
.pokemon-371{ background: rgba(98,172,230,255)}
.pokemon-385{ background: rgba(230,189,82,255)}
.pokemon-388{ background: rgba(98,180,106,255)}
.pokemon-389{ background: rgba(65,172,65,255)}
.pokemon-390{ background: rgba(255,230,172,255)}
.pokemon-391{ background: rgba(213,139,41,255)}
.pokemon-392{ background: rgba(230,57,65,255)}
.pokemon-393{ background: rgba(49,139,213,255)}
.pokemon-401{ background: rgba(255,238,172,255)}
.pokemon-394{ background: rgba(32,90,148,255)}
.pokemon-396{ background: rgba(82,74,74,255)}
.pokemon-402{ background: rgba(222,90,82,255)}
.pokemon-398{ background: rgba(90,82,90,255)}
.pokemon-397{ background: rgba(90,82,90,255)}
.pokemon-403{ background: rgba(123,172,246,255)}
.pokemon-405{ background: rgba(74,74,98,255)}
.pokemon-404{ background: rgba(74,74,98,255)}
.pokemon-407{ background: rgba(255,255,255,255)}
.pokemon-409{ background: rgba(131,131,123,255)}
.pokemon-408{ background: rgba(74,131,189,255)}
.pokemon-410{ background: rgba(98,98,106,255)}
.pokemon-406{ background: rgba(123,213,90,255)}
.pokemon-412{ background: rgba(82,115,65,255)}
.pokemon-400{ background: rgba(189,131,74,255)}
.pokemon-411{ background: rgba(98,98,106,255)}
.pokemon-415{ background: rgba(255,197,0,255)}
.pokemon-414{ background: rgba(246,213,123,255)}
.pokemon-413{ background: rgba(82,115,65,255)}
.pokemon-417{ background: rgba(246,246,246,255)}
.pokemon-418{ background: rgba(238,123,24,255)}
.pokemon-419{ background: rgba(246,246,180,255)}
.pokemon-416{ background: rgba(255,205,8,255)}
.pokemon-420{ background: rgba(222,98,131,255)}
.pokemon-421{ background: rgba(106,65,123,255)}
.pokemon-422{ background: rgba(255,139,197,255)}
.pokemon-423{ background: rgba(106,74,57,255)}
.pokemon-424{ background: rgba(131,57,172,255)}
.pokemon-427{ background: rgba(180,123,74,255)}
.pokemon-429{ background: rgba(106,74,148,255)}
.pokemon-426{ background: rgba(131,82,172,255)}
.pokemon-395{ background: rgba(16,32,65,255)}
.pokemon-431{ background: rgba(139,156,189,255)}
.pokemon-430{ background: rgba(57,57,90,255)}
.pokemon-433{ background: rgba(255,213,90,255)}
.pokemon-435{ background: rgba(106,82,139,255)}
.pokemon-428{ background: rgba(238,222,164,255)}
.pokemon-425{ background: rgba(148,106,230,255)}
.pokemon-432{ background: rgba(131,148,180,255)}
.pokemon-434{ background: rgba(106,82,139,255)}
.pokemon-436{ background: rgba(24,90,123,255)}
.pokemon-437{ background: rgba(32,115,131,255)}
.pokemon-439{ background: rgba(255,197,213,255)}
.pokemon-440{ background: rgba(255,197,213,255)}
.pokemon-441{ background: rgba(65,65,74,255)}
.pokemon-438{ background: rgba(172,131,90,255)}
.pokemon-443{ background: rgba(82,148,172,255)}
.pokemon-445{ background: rgba(90,98,172,255)}
.pokemon-444{ background: rgba(57,74,139,255)}
.pokemon-442{ background: rgba(164,82,156,255)}
.pokemon-446{ background: rgba(49,123,156,255)}
.pokemon-447{ background: rgba(74,156,238,255)}
.pokemon-450{ background: rgba(238,213,148,255)}
.pokemon-451{ background: rgba(106,106,180,255)}
.pokemon-449{ background: rgba(230,205,123,255)}
.pokemon-448{ background: rgba(90,90,90,255)}
.pokemon-453{ background: rgba(106,115,213,255)}
.pokemon-452{ background: rgba(74,49,98,255)}
.pokemon-454{ background: rgba(106,115,213,255)}
.pokemon-455{ background: rgba(189,197,123,255)}
.pokemon-399{ background: rgba(197,139,65,255)}
.pokemon-459{ background: rgba(255,255,255,255)}
.pokemon-462{ background: rgba(106,115,156,255)}
.pokemon-461{ background: rgba(197,41,115,255)}
.pokemon-463{ background: rgba(230,115,148,255)}
.pokemon-457{ background: rgba(49,65,90,255)}
.pokemon-465{ background: rgba(57,115,172,255)}
.pokemon-467{ background: rgba(255,197,57,255)}
.pokemon-464{ background: rgba(123,106,123,255)}
.pokemon-466{ background: rgba(255,222,32,255)}
.pokemon-469{ background: rgba(246,90,82,255)}
.pokemon-470{ background: rgba(238,213,156,255)}
.pokemon-468{ background: rgba(189,197,222,255)}
.pokemon-471{ background: rgba(148,230,238,255)}
.pokemon-472{ background: rgba(156,139,238,255)}
.pokemon-458{ background: rgba(16,82,172,255)}
.pokemon-475{ background: rgba(197,205,222,255)}
.pokemon-476{ background: rgba(230,90,98,255)}
.pokemon-474{ background: rgba(74,156,213,255)}
.pokemon-473{ background: rgba(156,106,74,255)}
.pokemon-477{ background: rgba(65,57,57,255)}
.pokemon-480{ background: rgba(246,197,115,255)}
.pokemon-482{ background: rgba(148,156,197,255)}
.pokemon-478{ background: rgba(255,255,255,255)}
.pokemon-481{ background: rgba(238,115,172,255)}
.pokemon-479{ background: rgba(90,197,189,255)}
.pokemon-483{ background: rgba(32,65,106,255)}
.pokemon-460{ background: rgba(255,255,255,255)}
.pokemon-487{ background: rgba(57,57,74,255)}
.pokemon-485{ background: rgba(197,197,197,255)}
.pokemon-486{ background: rgba(197,156,82,255)}
.pokemon-490{ background: rgba(106,197,246,255)}
.pokemon-491{ background: rgba(49,49,49,255)}
.pokemon-488{ background: rgba(197,90,156,255)}
.pokemon-489{ background: rgba(106,197,246,255)}
.pokemon-492{ background: rgba(172,222,98,255)}
.pokemon-493{ background: rgba(230,230,238,255)}
.pokemon-495{ background: rgba(0,180,0,255)}
.pokemon-494{ background: rgba(255,230,172,255)}
.pokemon-499{ background: rgba(238,115,41,255)}
.pokemon-496{ background: rgba(255,246,189,255)}
.pokemon-497{ background: rgba(24,156,74,255)}
.pokemon-500{ background: rgba(49,49,49,255)}
.pokemon-484{ background: rgba(238,230,255,255)}
.pokemon-501{ background: rgba(255,255,255,255)}
.pokemon-498{ background: rgba(238,131,57,255)}
.pokemon-456{ background: rgba(49,65,90,255)}
.pokemon-502{ background: rgba(82,189,189,255)}
.pokemon-505{ background: rgba(148,57,57,255)}
.pokemon-506{ background: rgba(238,205,148,255)}
.pokemon-507{ background: rgba(74,74,106,255)}
.pokemon-510{ background: rgba(131,98,148,255)}
.pokemon-509{ background: rgba(123,82,123,255)}
.pokemon-508{ background: rgba(255,230,172,255)}
.pokemon-503{ background: rgba(32,90,156,255)}
.pokemon-504{ background: rgba(123,82,74,255)}
.pokemon-514{ background: rgba(230,82,65,255)}
.pokemon-511{ background: rgba(24,164,82,255)}
.pokemon-512{ background: rgba(24,164,82,255)}
.pokemon-516{ background: rgba(41,180,222,255)}
.pokemon-513{ background: rgba(230,82,65,255)}
.pokemon-515{ background: rgba(41,180,222,255)}
.pokemon-518{ background: rgba(222,123,189,255)}
.pokemon-519{ background: rgba(164,164,164,255)}
.pokemon-521{ background: rgba(65,65,82,255)}
.pokemon-517{ background: rgba(255,197,205,255)}
.pokemon-523{ background: rgba(57,65,65,255)}
.pokemon-524{ background: rgba(65,82,139,255)}
.pokemon-522{ background: rgba(82,82,82,255)}
.pokemon-526{ background: rgba(65,82,139,255)}
.pokemon-527{ background: rgba(172,222,246,255)}
.pokemon-525{ background: rgba(65,82,139,255)}
.pokemon-529{ background: rgba(49,49,49,255)}
.pokemon-530{ background: rgba(90,74,65,255)}
.pokemon-531{ background: rgba(222,139,148,255)}
.pokemon-528{ background: rgba(74,74,82,255)}
.pokemon-533{ background: rgba(197,189,172,255)}
.pokemon-532{ background: rgba(197,189,172,255)}
.pokemon-535{ background: rgba(255,222,189,255)}
.pokemon-537{ background: rgba(8,148,213,255)}
.pokemon-536{ background: rgba(98,98,98,255)}
.pokemon-538{ background: rgba(238,230,213,255)}
.pokemon-539{ background: rgba(180,246,238,255)}
.pokemon-534{ background: rgba(139,139,131,255)}
.pokemon-540{ background: rgba(148,205,8,255)}
.pokemon-541{ background: rgba(148,205,8,255)}
.pokemon-544{ background: rgba(131,115,156,255)}
.pokemon-545{ background: rgba(156,16,65,255)}
.pokemon-543{ background: rgba(189,49,82,255)}
.pokemon-546{ background: rgba(222,230,238,255)}
.pokemon-548{ background: rgba(197,238,123,255)}
.pokemon-549{ background: rgba(197,238,123,255)}
.pokemon-542{ background: rgba(123,205,8,255)}
.pokemon-550{ background: rgba(65,164,82,255)}
.pokemon-547{ background: rgba(230,222,205,255)}
.pokemon-551{ background: rgba(197,156,90,255)}
.pokemon-553{ background: rgba(139,49,65,255)}
.pokemon-552{ background: rgba(197,156,90,255)}
.pokemon-554{ background: rgba(205,49,49,255)}
.pokemon-555{ background: rgba(172,32,24,255)}
.pokemon-561{ background: rgba(255,197,8,255)}
.pokemon-556{ background: rgba(90,213,106,255)}
.pokemon-557{ background: rgba(164,156,139,255)}
.pokemon-564{ background: rgba(74,156,222,255)}
.pokemon-565{ background: rgba(74,148,213,255)}
.pokemon-562{ background: rgba(82,82,82,255)}
.pokemon-563{ background: rgba(57,57,65,255)}
.pokemon-559{ background: rgba(32,32,32,255)}
.pokemon-560{ background: rgba(32,32,32,255)}
.pokemon-568{ background: rgba(41,106,74,255)}
.pokemon-558{ background: rgba(139,106,74,255)}
.pokemon-566{ background: rgba(246,205,98,255)}
.pokemon-567{ background: rgba(49,131,246,255)}
.pokemon-570{ background: rgba(90,90,115,255)}
.pokemon-569{ background: rgba(164,139,115,255)}
.pokemon-576{ background: rgba(82,82,82,255)}
.pokemon-572{ background: rgba(189,180,164,255)}
.pokemon-577{ background: rgba(90,180,123,255)}
.pokemon-578{ background: rgba(90,180,123,255)}
.pokemon-573{ background: rgba(189,172,156,255)}
.pokemon-580{ background: rgba(148,222,246,255)}
.pokemon-581{ background: rgba(255,255,255,255)}
.pokemon-582{ background: rgba(255,255,255,255)}
.pokemon-579{ background: rgba(90,180,123,255)}
.pokemon-586{ background: rgba(123,90,49,255)}
.pokemon-574{ background: rgba(255,255,255,255)}
.pokemon-571{ background: rgba(32,32,49,255)}
.pokemon-587{ background: rgba(255,255,255,255)}
.pokemon-520{ background: rgba(74,74,74,255)}
.pokemon-588{ background: rgba(49,106,255,255)}
.pokemon-589{ background: rgba(197,197,197,255)}
.pokemon-591{ background: rgba(205,197,197,255)}
.pokemon-592{ background: rgba(131,213,255,255)}
.pokemon-583{ background: rgba(255,255,255,255)}
.pokemon-575{ background: rgba(65,65,65,255)}
.pokemon-593{ background: rgba(213,230,255,255)}
.pokemon-596{ background: rgba(255,222,82,255)}
.pokemon-594{ background: rgba(255,189,189,255)}
.pokemon-595{ background: rgba(246,222,65,255)}
.pokemon-597{ background: rgba(180,189,189,255)}
.pokemon-599{ background: rgba(213,222,238,255)}
.pokemon-600{ background: rgba(164,164,172,255)}
.pokemon-598{ background: rgba(180,189,189,255)}
.pokemon-601{ background: rgba(213,222,238,255)}
.pokemon-602{ background: rgba(238,255,255,255)}
.pokemon-604{ background: rgba(32,98,115,255)}
.pokemon-603{ background: rgba(32,90,98,255)}
.pokemon-606{ background: rgba(222,156,123,255)}
.pokemon-609{ background: rgba(49,49,49,255)}
.pokemon-590{ background: rgba(255,246,230,255)}
.pokemon-608{ background: rgba(74,74,74,255)}
.pokemon-605{ background: rgba(164,205,189,255)}
.pokemon-584{ background: rgba(255,255,255,255)}
.pokemon-610{ background: rgba(148,164,90,255)}
.pokemon-611{ background: rgba(115,115,115,255)}
.pokemon-607{ background: rgba(205,197,205,255)}
.pokemon-614{ background: rgba(222,246,255,255)}
.pokemon-612{ background: rgba(164,172,24,255)}
.pokemon-613{ background: rgba(148,213,238,255)}
.pokemon-615{ background: rgba(82,98,197,255)}
.pokemon-618{ background: rgba(213,156,131,255)}
.pokemon-616{ background: rgba(197,197,213,255)}
.pokemon-617{ background: rgba(106,131,197,255)}
.pokemon-619{ background: rgba(246,246,139,255)}
.pokemon-620{ background: rgba(230,213,213,255)}
.pokemon-621{ background: rgba(16,74,139,255)}
.pokemon-626{ background: rgba(74,65,49,255)}
.pokemon-623{ background: rgba(131,197,205,255)}
.pokemon-622{ background: rgba(131,205,205,255)}
.pokemon-625{ background: rgba(222,222,222,255)}
.pokemon-624{ background: rgba(189,65,65,255)}
.pokemon-627{ background: rgba(246,238,213,255)}
.pokemon-628{ background: rgba(82,82,115,255)}
.pokemon-630{ background: rgba(98,74,65,255)}
.pokemon-631{ background: rgba(164,139,115,255)}
.pokemon-633{ background: rgba(82,82,82,255)}
.pokemon-629{ background: rgba(82,65,65,255)}
.pokemon-632{ background: rgba(24,24,32,255)}
.pokemon-635{ background: rgba(82,82,82,255)}
.pokemon-634{ background: rgba(82,82,82,255)}
.pokemon-636{ background: rgba(255,255,255,255)}
.pokemon-638{ background: rgba(24,172,180,255)}
.pokemon-637{ background: rgba(238,115,24,255)}
.pokemon-640{ background: rgba(156,205,82,255)}
.pokemon-639{ background: rgba(180,172,172,255)}
.pokemon-642{ background: rgba(255,255,255,255)}
.pokemon-644{ background: rgba(49,49,57,255)}
.pokemon-645{ background: rgba(255,255,255,255)}
.pokemon-646{ background: rgba(189,230,255,255)}
.pokemon-647{ background: rgba(32,32,32,255)}
.pokemon-641{ background: rgba(131,65,172,255)}
.pokemon-643{ background: rgba(255,255,255,255)}
.pokemon-585{ background: rgba(246,238,197,255)}
.pokemon-649{ background: rgba(156,90,197,255)}
.pokemon-648{ background: rgba(205,246,156,255)}